<div class="accordion accordion-flush border border-1 mb-2" style="background: #f8f9fa; box-shadow: 0px 4px 10px rgba(0,0,0,0.1);" id="accordionFlushCargadiaria">
        <div class="accordion-item">
            <h2 class="accordion-header text-center" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Cargar nueva unidad de negocios
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushCargadiaria">
                <div class="accordion-body">
                    
                    
                    

                </div>
            </div>
        </div>
    </div>