{% extends "layout.html" %}

{% block title %}
    {{ nombre }}
{% endblock %}

{% block body %}

<div class="container">

    <!-- Carga de datos a la base de datos -->
     
    <h2>Modificar método de cobro</h2>
    
    <div class="container border border-1 mb-2" style="background: #f8f9fa; box-shadow: 0px 4px 10px rgba(0,0,0,0.1);">
        <form action="/cargarcobro" method="post" class="container py-4 needs-validation mb-2"  novalidate>
            <div class="row">
                <div class="col">
                    <label for="nombre" class="form-label fw-bold">Nombre</label>
                    <input style="min-width: 150px;" type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col">
                    <label for="retencion" class="form-label fw-bold">Retención</label>
                    <input style="min-width: 150px;" type="number" class="form-control" id="retencion" name="retencion">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-dark" type="submit">Guardar</button>
            </div>

        </form>    
    </div>
</div>
{% endblock %}